.hui {
    background-color: #878787 !important;
    border: solid 1px #878787 !important;
    color: #ffffff !important;
}

.myblue {
    color: #fff!important;
    background-color: #31b0d5!important;
    border-color: #269abc!important;
}

.myred{
    color: #fff!important;
    background-color: #D96F6D!important;
    border-color: #D96F6D!important;
}