##<div class="ui padded grid fixed">
##    <div class="blue row" style="padding-top: 10px;padding-bottom: 0;">
##        <div class="column">
##            <div class="ui  image left floated" style="width: 32px;height: auto;">
##                <img src="/statics/img/internet_explorer_64px.png">
##            </div>
##            <a class="ui inverted header left floated" href="/index" style="display:block;font-size: 20px;margin-top: 4px">云端收藏夹</a>
##        </div>
##    </div>
##</div>

<div class="ui padded grid" style="max-height: 28px;padding-left: 6px;padding-right: 6px">
    <div class="row" style="padding-top: 0;padding-bottom: 0;">
        <div class="column">
            <div class=" field" style="margin-left: 5p;float: right">
                <select class="ui  small form segment  dropdown" id="groupSelect">
                    <option value="-1">全部</option>
                    #if($!{groupData})
                        #foreach($group in  $groupData)
                            <option value="$!{group.groupId}">$!{group.groupName}</option>
                        #end
                    #end
                </select>
            </div>
            <div class="compact ui left floated green icon button" id="addGroupBtn"><i class="plus icon"></i>新建分组</div>
##            <div class="compact ui left floated green icon button"><i class="sort content descending icon"></i>智能排序</div>
            <div class="compact ui left floated green icon button" id="checkBtn"><i class="bug icon"></i>智能检测</div>
            <div class="compact ui left floated green icon button" id="delExpireBtn"><i class="unlink icon"></i>删除失效</div>
            <div class="compact ui left floated green icon button" id="toolsBtn"><i class="download icon"></i>收藏工具</div>
            <input type="file" name="_impFile" id="_impFile">
        </div>
    </div>
</div>
<div class="ui grid" style="margin: 0 10px;width: 99%" id="myGrid">
    #if($!{favData})
        #foreach($entry in  $favData.entrySet())
            #set ($key = $entry.key)
            #set ($favList = $entry.value)
            #set ($keyArray = $key.split("/"))
            #set ($title = $!{keyArray.get(0)})
            #set ($groupID = $!{keyArray.get(1)})
            #set ($groupSize = $!{keyArray.get(2)})
            #set ($groupColor = $!{keyArray.get(3)})
            #set ($covert = $!{keyArray.get(4)})
            #if($title.length()>30)
                #set($showTitle=$title.substring(0,30))
            #else
                #set($showTitle=$title)
            #end

        <div class="$!{groupWith} wide column grid-item" style="padding: 0 10px" id="group_$!{groupID}">
            <input type="hidden" value="$!{groupID}" id="grid_$!{groupID}">
            <div class="ui raised segment ">
                <a class="ui $!{groupColor} ribbon label" title="显示收藏列表" onclick="showFav($!{groupID})">$showTitle
                    ($!{groupSize})</a>
                #if($!{wd})
                #else
                    <div style="float: right">
                        <div class="compact ui  basic   icon button right  floated"
                             onclick="addFav($!{groupID})"><i class="plus icon"></i>
                        </div>
                        <div class="compact ui  basic   icon button right  floated"
                             onclick="protectFav($!{groupID},$!{covert})">
                            #if($covert==2)
                                <i class="lock icon" title="解锁后变为公开可以被别人看到" id="lockIcon_$!{groupID}"></i>
                            #else
                                <i class="unlock icon" title="加锁后变为私有只有自己能访问" id="lockIcon_$!{groupID}"></i>
                            #end
                        </div>
                    ##                        <div class="compact ui  basic   icon button right  floated" title="显示收藏列表"
                    ##                             onclick="showFav($!{groupID})"><i class="unhide icon"></i>
                    ##                        </div>
                        <div class="compact ui  basic   icon button right  floated" onclick="removeGroup($!{groupID})">
                            <i class="remove icon"></i></div>
                    </div>
                #end
                <div class="ui mini divided list" id="group_list_$!{groupID}">
                    #set ($showFlag = 0)
                    #foreach($fav in  $favList)
                        #if($showFlag<6 || $!{gid})
                        <div class="item list-item" style="padding: 1px 0" id="favList_$!{fav.favId}">
                        #else
                        <div class="item list-item" style="padding: 1px 0;display: none" id="favList_$!{fav.favId}">
                        #end
                        <div class="right floated">
                            #if($fav.favStatus==2)
                                <div class="compact ui red empty circular label" title="已失效"></div>
                            #else
                                <div class="compact ui green empty circular label" title="正常"></div>
                            #end

                            <div class="compact ui mini  basic  icon  button follow-btn"
                                 id="follow_$!{fav.favId}">
                                #if($fav.favFocus==2)
                                    <i class="heart icon"></i>
                                #else
                                    <i class="empty heart icon"></i>
                                #end
                            </div>
                        ##                            <div class="compact ui mini  basic  icon  button move-btn" id="moveFav_$!{fav.favId}"><i class="move icon"></i></div>
                            <div class="compact ui mini left pointing basic dropdown icon button move-btn">
                                <i class="move icon"></i>
                                <div class="menu">
                                    #if($!{groupData})
                                        #foreach($group in  $groupData)
                                            <div class="item"
                                                 value="$!{group.groupId}_$!{fav.favId}">$!{group.groupName}</div>
                                        #end
                                    #end
                                </div>
                            </div>
                            <div class="compact ui mini  basic  icon  button delfav-btn" id="delFav_$!{fav.favId}"><i
                                    class="minus icon"></i></div>
                        </div>
                        <img class="ui  mini avatar image"
                             src="/statics/img/internet_explorer_64px.png" style="margin-top: 3px">
                        #set ($favTitle = $!{fav.favTitle})
                        #if($favTitle.length()>$!{titleLen})
                            #set($showFavTitle=$favTitle.substring(0,$!{titleLen}))
                        #else
                            #set($showFavTitle=$favTitle)
                        #end

                        #set ($favUrl = $!{fav.favUrl})
                        #if($favUrl.length()>$!{urlLen})
                            #set($showFavUrl=$favUrl.substring(0,$!{urlLen}))
                        #else
                            #set($showFavUrl=$favUrl)
                        #end
                        <div class="content" style="margin-top: 3px">
                            <a class="header fav" href="$!{fav.favUrl}" title="$!{fav.favUrl}"
                               target="_blank">$!{showFavTitle}</a>
                        </div>
                    </div>
                        #set ($showFlag = $showFlag+1)
                    #end
                </div>
                </div>
            </div>
        #end
    #end
</div>

    <script type="text/javascript">
        var gridMon = null;
        $(document).ready(function () {
            $('.ui.accordion').accordion();

            initImp();
            $('#_impFile-button').css('line-height', '15px');
            $('select.dropdown').dropdown();

            $('.move-btn').dropdown({
                onChange: function (value, text, obj) {
                    var idStr = $(obj).attr('value');
                    var gid = idStr.split('_')[0];
                    var fid = idStr.split('_')[1];
                    moveFav(gid, fid);
                }
            });

            $('#groupSelect').change(function () {
                var val = $("#groupSelect").val();
                var text = $("#groupSelect").find("option:selected").text();
                window.location.href = "/index?gid=" + val + "&gname=" + encodeURI(text);
            });
            gridMon = $('#myGrid').masonry({
                // options
                itemSelector: '.grid-item',
            });

            $('#addGroupBtn').click(function (e) {
                showAddFavGroup();
            });

            $('.follow-btn').click(function (e) {
                var id = $(this).attr('id');
                var favID = id.split("_")[1];
                var focus = id.split("_")[2];
                followFav(favID, focus);
            });

            $('.delfav-btn').click(function (e) {
                var id = $(this).attr('id');
                var favID = id.split("_")[1];
                delFav(favID);
            });


            $('#checkBtn').click(function () {
                sendCheck();
            })

            $('#delExpireBtn').click(function () {
                delExpire();
            })

            $('#toolsBtn').click(function () {
                window.location.href = "/op/tools";
            })
        })

        function initImp() {
            var uploadSwf = '#springUrl('statics/plugin/uploadify/uploadify.swf')';
            $("#_impFile").uploadify({
                formData: {
                    'timestamp': '222',
                    'token': '123',
                    'type': '22'
                },
                queueID: '__not_exit_queue',//不存在的ID,删除该配置可显示进度条
                successTimeout: 120,//2分钟超时
                fileSizeLimit: '10MB',//B, KB, MB, or GB
                height: 30,
                swf: uploadSwf,
                uploader: $("#contextPath").val() + '/import/bookmark',
                fileObjName: 'file',
                buttonClass: 'compact ui green icon button right',
                buttonText: '从浏览器导入',
                onUploadStart: function (file) {
                    $('#_impFile').uploadify('disable', true);
                },
                //上传到服务器，服务器返回相应信息到data里
                onUploadSuccess: function (file, data, response) {
                    $('#_impFile').uploadify('disable', false);
                    layer.msg('导入完成');
                    location.reload();
                },
                onUploadError: function (file, errorCode, errorMsg, errorString) {
                    $('#_impFile').uploadify('disable', false);
                }

            });
        }
        function addFav(groupID) {
            var htmlStr = '<form class="ui form" style="margin: 20px"><h4 class="ui dividing header">收藏新网页</h4><div class="field"><label>输入网址</label><input type="text" id="addFavInputUrl"></div><div class="ui green submit button" id="addFavInputBtn">收藏</div></form>';
            var index = layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                area: ['700px', '230px'],
                shadeClose: true,
                content: htmlStr
            });
            $('#addFavInputBtn').click(function (e) {
                saveFav(groupID);
            })
        }

        function showAddFavGroup() {
            var htmlStr = '<form class="ui form" style="margin: 20px"><h4 class="ui dividing header">添加新分组</h4><div class="field"><label>分组名称</label><input type="text" id="addFavGroupInput"></div><div class="ui green submit button" id="saveGroupBtn">保存</div></form>';
            var index = layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                area: ['700px', '230px'],
                shadeClose: true,
                content: htmlStr
            });
            $('#saveGroupBtn').click(function (e) {
                doAddFavGroup(index);
            });
        }

        function saveFav(groupID) {

            var param = {};
            param.groupId = groupID;
            param.favUrl = $('#addFavInputUrl').val();
            var reqUrl = $("#contextPath").val() + "/fav/add";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    layer.msg('保存成功');
                    location.reload();
                } else if (resp.status == 0) {
                    layer.msg(resp.msg);
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function doAddFavGroup(index) {
            var param = {};
            param.groupName = $('#addFavGroupInput').val();
            var reqUrl = $("#contextPath").val() + "/fav/group/add";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    layer.msg('保存成功');
                    location.reload();
                } else if (resp.status == 0) {
                    layer.msg(resp.msg);
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function protectFav(groupID, covert) {
            if (covert == 1) {
                covert = 2;
            } else if (covert == 2) {
                covert = 1;
            }
            var param = {};
            param.groupId = groupID;
            param.covert = covert;
            var reqUrl = $("#contextPath").val() + "/fav/group/lock";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    location.reload();
                } else if (resp.status == 0) {
                    layer.msg(resp.msg);
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function removeGroup(groupID) {
            layer.confirm('删除分组后该分组所有收藏将被删除,确定删除？', {icon: 3, title: '提示'}, function (index) {
                var param = {};
                param.groupId = groupID;
                var reqUrl = $("#contextPath").val() + "/fav/group/del";
                AjaxUtil.post(reqUrl, param, function (resp) {
                    if (resp == undefined || resp == null) {
                        layer.alert("系统异常", {icon: 5});
                    } else if (resp.status == 1) {
                        location.reload();
                    } else if (resp.status == 0) {
                        layer.msg(resp.msg);
                    } else {
                        var obj = eval("(" + resp + ")");
                        layer.alert(obj.msg, {icon: 5});
                    }
                });
            });
        }

        function showFav(groupID) {
            if (groupID <= 0) return;

            if ($('#group_list_' + groupID + ' .list-item').is(':hidden')) {
                $('#group_list_' + groupID + ' .list-item').show();
            } else {
                var i = 0;
                $('#group_list_' + groupID + ' .list-item').each(function () {
                    if (i >= 6) {
                        $(this).hide();
                    }
                    i++;
                });
            }
            $(gridMon).masonry('layout');
        }

        function followFav(favID, favFocus) {
            var param = {};
            param.favId = favID;
            var reqUrl = $("#contextPath").val() + "/fav/follow";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    var st = resp.data;

                    if (st == 2) {
                        $('#follow_' + favID).children().attr('class', 'heart icon');
                    } else {
                        $('#follow_' + favID).children().attr('class', 'empty heart icon');
                    }
                } else if (resp.status == 0) {
                    layer.msg(resp.msg);
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function delFav(favID) {
            var param = {};
            param.favId = favID;
            var reqUrl = $("#contextPath").val() + "/fav/del";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    $('#favList_' + favID).remove();
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function moveFav(gid, fid) {
            var param = {};
            param.favId = fid;
            param.groupId = gid;
            var reqUrl = $("#contextPath").val() + "/fav/move";
            AjaxUtil.post(reqUrl, param, function (resp) {
                if (resp == undefined || resp == null) {
                    layer.alert("系统异常", {icon: 5});
                } else if (resp.status == 1) {
                    location.reload();
                } else if (resp.status == 0) {
                    layer.msg(resp.msg);
                } else {
                    var obj = eval("(" + resp + ")");
                    layer.alert(obj.msg, {icon: 5});
                }
            });
        }

        function sendCheck() {
            layer.confirm('您的所有收藏的链接都会被检测是否有效,确定继续吗？', {icon: 3, title: '提示'}, function (index) {
                var param = {};
                var reqUrl = $("#contextPath").val() + "/fav/check";
                AjaxUtil.post(reqUrl, param, function (resp) {
                    if (resp == undefined || resp == null) {
                        layer.alert("系统异常", {icon: 5});
                    } else if (resp.status == 1) {
                        layer.msg('已发起检测,请过段时间后查看标题后的红色或绿色的标记');
                    } else if (resp.status == 0) {
                        layer.msg(resp.msg);
                    } else {
                        var obj = eval("(" + resp + ")");
                        layer.alert(obj.msg, {icon: 5});
                    }
                });
            });
        }

        function delExpire() {
            layer.confirm('您确定要删除所有已经失效的链接吗？', {icon: 3, title: '提示'}, function (index) {
                var param = {};
                var reqUrl = $("#contextPath").val() + "/fav/expire/del";
                AjaxUtil.post(reqUrl, param, function (resp) {
                    if (resp == undefined || resp == null) {
                        layer.alert("系统异常", {icon: 5});
                    } else if (resp.status == 1) {
                        location.reload();
                    } else if (resp.status == 0) {
                        layer.msg(resp.msg);
                    } else {
                        var obj = eval("(" + resp + ")");
                        layer.alert(obj.msg, {icon: 5});
                    }
                });
            });
        }

    </script>
    <script src="#springUrl('statics/plugin/uploadify/jquery.uploadify.js')" type="text/javascript"></script>
    <script src="#springUrl('statics/plugin/masonry/masonry.mini.js')"></script>

