<div class="ui padded grid">
    <div class="purple row">
        <div class="column">
            <h2 class="ui inverted header">菜鸟地盘工作台</h2>
        </div>
    </div>
</div>
<div class="ui padded grid">
    <div class="row" style="padding-top: 8px;padding-bottom: 3px;">
        <div class="column">
            <div class="ui icon input" style="margin-left: 5px">
                <input type="text" placeholder="搜索...">
                <i class="search icon"></i>
            </div>
            <div class="compact ui purple icon button"> <i class="plus icon"></i>添加收藏</div>
            <div class="compact ui green icon button"><i class="download icon"></i>收藏工具</div>
        </div>
    </div>
</div>
<div class="ui grid" style="margin: 0 10px;width: 95%">
    <div class="eight wide column" style="padding: 10px">
        <div class="ui raised segment">
            <a class="ui teal ribbon label">工作</a>
            <div style="float: right">
                <div class="compact ui purple   icon button right  floated"> <i class="plus icon"></i>添加收藏</div>
                <div class="compact ui purple   icon button right  floated"> <i class="lock icon"></i>设置保护</div>
                <div class="compact ui red   icon button right  floated"> <i class="remove icon"></i>删除分组</div>
            </div>

            <div class="ui divided list">
                <div class="item">
                    <div class="right floated">
                        <div class="ui green empty circular label"></div>
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui red empty circular label"></div>
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <a class="item center">显示所有..</a>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column" style="padding: 10px">
        <div class="ui raised segment">
            <a class="ui red ribbon label">工作</a>
            <div class="ui divided list">
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="right floated">
                        <div class="ui purple  icon  button"> <i class="empty heart icon"></i></div>
                        <div class="ui red  icon  button"> <i class="remove icon"></i></div>
                    </div>
                    <img class="ui avatar image" src="/statics/img/stevie.jpg">
                    <div class="content">
                        <a class="header">阿里巴巴技术协会首</a>
                        <div class="description"> <a href="http://www.atatech.org/">http://www.atatech.org/</a></div>
                    </div>
                </div>
                <div class="item">
                    <a class="item center">显示所有..</a>
                </div>
            </div>
        </div>
    </div>

    <div class="eight wide column" style="padding: 10px">
        <div class="ui raised segment">
            <a class="ui red ribbon label">新分组</a>
            <div class="fluid purple ui button" style="margin-top: 10px">创建新的分组</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.accordion').accordion();
    })

</script>

