##                        #set ($favIco = $!{fav.favIco})
##                        #if($!{favIco})
##                            <img class="ui  mini avatar image" src="/statics/img/$!{favIco}" style="margin-top: 3px">
##                        #else
##                            <img class="ui  mini avatar image" src="/statics/img/inte2.png" style="margin-top: 3px">
##                        #end